extends users.pug

block var
  -var currentURL = '/change-password'

block content
  h4(style='color: #3d5170').text-center.font-weight-bold Đổi mật khẩu
  form(action='/users/change-password' method='POST').mt-2
    input.d-none#users_change_password_email(name='email' value=user.email)
    .form-group
      input#old_password.form-control(name='old_password' type='password' placeholder='Mật khẩu hiện tại' required)
    .form-group
      input#new_password.form-control(name='new_password' type='password' placeholder='Mật khẩu mới' required)
    .form-group
      input#re_password.form-control(type='password' placeholder='Nhập lại mật khẩu mới' required)
    .text-center
      button#btn_change_password(disabled).btn.btn-primary Đổi mật khẩu