extends layout

block content
  section.bg__3.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Vòng 2
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 Hãy điền số thứ tự xã, phường, thị trấn tương ứng với số hiển thị trên bản đồ huyện, thị, thành phố. Sau đó đoán tên đơn vị huyện, thị, thành phố đó.
            p.mb-2 Bạn có 300 giây để hoàn thành vòng thi này.
          .text-center
            a.btn.btn-primary(href="/exams/section-2") Bắt đầu