extends layout

block content
  section.bg__5.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Vòng 4
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 Ghép dữ liệu đúng về tên anh hùng, đặc sản, khu du tích, khu du lịch,... từ Cột A sang Cột B. Mỗi cột sẽ 20 dữ liệu.
            p.mb-2 Bạn có 180 giây để hoàn thành vòng thi này!
          .text-center
            a.btn.btn-primary(href="/exams/section-4") Bắt đầu