extends layout

block content
  section.bg__4.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Vòng 3
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 Bạn chọn ô thứ thự bên trái để nhận câu hỏi trắc nghiệm. Trả lời đúng sẽ nhận được mảnh ghép bản đồ, trả lời sai mảnh ghép bị ẩn. Sau khi hoàn thành 04 câu hỏi, bạn nhấn vào ô trả lời trả lời câu hỏi hình nền để đoán hình nền.
            p.mb-2 Bạn có 20 giây để trả lời mỗi câu trắc nghiệm.
          .text-center
            a.btn.btn-primary(href="/exams/section-3") Bắt đầu