extends layout

block content
  section.bg__5.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Vòng 1
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 Chọn câu trả lời đúng (A, B, C, D) cho 10 câu hỏi về điều kiện tự nhiên, văn hóa, kinh tế xu hướng của tỉnh và các huyện, thị, thàn
            p.mb-2 Bạn có 10 giây để trả lời mỗi câu hỏi!
          .text-center
            a.btn.btn-primary(href="/exams/section-1") Bắt đầu