extends layout

block content
  section.bg__4.min-vh-100
    .container.py-3
      .middle__center__md.question__wrapper.mt-md-0.mx-auto
        .card.text-center.p-4.p-sm-5
          h3.ready__title Vòng 3
          .ready__content.h5.mx-auto.col-md-10.p-0
            p.mb-2 Bạn sẽ nhận được 04 hỏi (trắc nghiệm A, B, C) về vị trí địa lý đơn vị hành chính. Trả lời đúng sẽ nhận được 01 mảnh ghép, trả lời sai không được mảnh ghép. Bạn có 20 giây để ghép các mảnh ghép thành bản đồ hoàn chỉnh và trả lời tên đơn vị hành chính ghép được.
          .text-center
            a.btn.btn-primary(href="/exams/section-3") Bắt đầu