nav.navbar.navbar-expand-md.bg__navbar.shadow-sm.py-2
  a.navbar-brand.font-weight-bold.mr-0(href='/') HÀNH TRÌNH TÌM HIỂU QUÊ TA
  button.navbar_menu__button.d-md-none(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.material-icons menu
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/exams').card.text-secondary.px-4.font-weight-bold Bắt đầu
      li.nav-item
        a.nav-link(href='/') Trang chủ
      li.nav-item
        a.nav-link(
            target='_blank'
            rel='noopener noreferrer'
            href='https://drive.google.com/file/d/1dQvzsc2ZuGpVN1AUNfSIdj_e-x_DO4ah/view?usp=sharing')
          | Thể lệ
      li.nav-item.dropdown
        if user
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle.navbar__dropdown__toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            span #{user.name}
          .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='../users/me') Hồ sơ
            a.dropdown-item(href='../users/change-password') Đổi mật khẩu
            a.dropdown-item(href='../users/logout') Đăng xuất
